{% extends 'layout.html' %}
{% load static %}

{% block title %}

{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block body %}
    <nav class="navbar">
        <div class="burger-nav" id="burger-nav">
            <div class="burger-nav-items">
                <h1 class="burger-nav-item huge-font">Home</h1>
                <h1 class="burger-nav-item huge-font">Projects</h1>
                <h1 class="burger-nav-item huge-font">Friends</h1>
                <h1 class="burger-nav-item huge-font">Wikipedia</h1>
                <h1 class="burger-nav-item huge-font burger-nav-profile"> 
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle burgerbar-profile-icon" viewBox="0 0 16 16">
                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                    </svg>
                    Profile
                </h1>
            </div>
        </div>
        
        <h1 class="big-font navbar-title">STEM Research Companion</h1>

        <div class="navbar-links">
            <a href=""><h1 class="normal-font navbar-link">Home</h1></a>
            <a href=""><h1 class="normal-font navbar-link">Projects</h1></a>
            <a href=""><h1 class="normal-font navbar-link">Friends</h1></a>
            <a href=""><h1 class="normal-font navbar-link">Wikipedia</h1></a>
        </div>

        <div class="navbar-profile">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle navbar-profile-icon" viewBox="0 0 16 16">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
            </svg>
        </div>

        <div class="burger-menu" id="burger-menu">
            <span class="burger-span burger-span1" id="burger-span1"></span>
            <span class="burger-span burger-span2" id="burger-span2"></span>
            <span class="burger-span burger-span3" id="burger-span3"></span>
        </div>
    </nav>

    <div class="functions_div">
        <div class="function-card">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-image-fill function-card-icon" viewBox="0 0 16 16">
                <path d="M.002 3a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-12a2 2 0 0 1-2-2zm1 9v1a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V9.5l-3.777-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062zm5-6.5a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0"/>
            </svg>

            <h1 class="small-font function-card-text">Function 1</h1>
        </div>
        <div class="function-card">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-image-fill function-card-icon" viewBox="0 0 16 16">
                <path d="M.002 3a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-12a2 2 0 0 1-2-2zm1 9v1a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V9.5l-3.777-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062zm5-6.5a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0"/>
            </svg>

            <h1 class="small-font function-card-text">Function 1</h1>
        </div>
        <div class="function-card">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-image-fill function-card-icon" viewBox="0 0 16 16">
                <path d="M.002 3a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-12a2 2 0 0 1-2-2zm1 9v1a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V9.5l-3.777-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062zm5-6.5a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0"/>
            </svg>

            <h1 class="small-font function-card-text">Function 1</h1>
        </div>
        <div class="function-card">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-image-fill function-card-icon" viewBox="0 0 16 16">
                <path d="M.002 3a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-12a2 2 0 0 1-2-2zm1 9v1a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V9.5l-3.777-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062zm5-6.5a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0"/>
            </svg>

            <h1 class="small-font function-card-text">Function 1</h1>
        </div>
        <div class="function-card">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-image-fill function-card-icon" viewBox="0 0 16 16">
                <path d="M.002 3a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-12a2 2 0 0 1-2-2zm1 9v1a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V9.5l-3.777-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062zm5-6.5a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0"/>
            </svg>

            <h1 class="small-font function-card-text">Function 1</h1>
        </div>
        <div class="function-card">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-image-fill function-card-icon" viewBox="0 0 16 16">
                <path d="M.002 3a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-12a2 2 0 0 1-2-2zm1 9v1a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V9.5l-3.777-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062zm5-6.5a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0"/>
            </svg>

            <h1 class="small-font function-card-text">Function 1</h1>
        </div>
        <div class="function-card">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-image-fill function-card-icon" viewBox="0 0 16 16">
                <path d="M.002 3a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-12a2 2 0 0 1-2-2zm1 9v1a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V9.5l-3.777-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062zm5-6.5a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0"/>
            </svg>

            <h1 class="small-font function-card-text">Function 1</h1>
        </div>
    </div>

    <div class="my-projects">
        <h1 class="mp-title big-font">My recent projects:</h1>
        <a href=""><h1 class="mp-see-more small-font">See all</h1></a>

        <hr class="mp-line">

        <div class="cards-section">
            <div class="mp-card">
                <img src="" class="mp-card-image">

                <h1 class="mp-card-title big-font">Title here</h1>
                <h1 class="mp-card-author small-font">Author here</h1>
                <h1 class="mp-card-description small-font"> Author her ooi joi joi jo ijn in in iun i ni u mn in iun iun iun iun  on jini ni ni ne sjaoin inasiun adin ian iuansin aisun iuansi unaiun ain</h1>
                <button class="mp-button small-font">See more</button>
            </div>
            <div class="mp-card">
                <img src="" class="mp-card-image">

                <h1 class="mp-card-title big-font">Title here</h1>
                <h1 class="mp-card-author small-font">Author here</h1>
                <h1 class="mp-card-description small-font"> Author her ooi joi joi jo ijn in in iun i ni u mn in iun iun iun iun  on jini ni ni ne sjaoin inasiun adin ian iuansin aisun iuansi unaiun ain</h1>
                <button class="mp-button small-font">See more</button>
            </div>
            <div class="mp-card">
                <img src="" class="mp-card-image">

                <h1 class="mp-card-title big-font">Title here</h1>
                <h1 class="mp-card-author small-font">Author here</h1>
                <h1 class="mp-card-description small-font"> Author her ooi joi joi jo ijn in in iun i ni u mn in iun iun iun iun  on jini ni ni ne sjaoin inasiun adin ian iuansin aisun iuansi unaiun ain</h1>
                <button class="mp-button small-font">See more</button>
            </div>
        </div>
    </div>

    <script src="{% static 'js/index.js' %}"></script>
{% endblock %}