{% extends 'layout.html' %}
{% load static %}

{% block title %}

{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block body %}
    <nav class="navbar">
        <h1 class="big-font navbar-title">STEM Research Companion</h1>

        <div class="navbar-links">
            <h1 class="navbar-link normal-font">nav 1</h1>
            <h1 class="navbar-link normal-font">nav 2</h1>
            <h1 class="navbar-link normal-font">nav 3</h1>
            <h1 class="navbar-link normal-font">nav 4</h1>
        </div>

        <div class="navbar-profile">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle navbar-profile-icon" viewBox="0 0 16 16">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
            </svg>
        </div>
    </nav>
{% endblock %}