{% extends 'layout.html' %}
{% load static %}

{% block title %}
    <!-- you write here title of page -->
{% endblock %}

{% block links %}
    <!-- you can write anything which you can write in head element -->
    <link rel="stylesheet" href="{% static 'css/infopage.css' %}">
{% endblock %}

{% block body %}
    <!-- you can write anything which you can write in body element -->
    <div class="main">
        <div class="navbar">
            <div class="icon">
                <div>Research Companion</div>
            </div>
            <div class="menu">
                <ul>
                    <li><a href="#">Login</a></li>
                    <li><a href="#">Register Now</a></li>
                </ul>
            </div>
        </div>
    </div>

    <script src="{% static 'js/infopage.js' %}"></script>
{% endblock %}