{% extends 'layout.html' %}
{% load static %}

{% block title %}
    <!-- you write here title of page -->
{% endblock %}

{% block links %}
    <!-- you can write anything which you can write in head element -->
    <link rel="stylesheet" href="{% static 'css/infopage.css' %}">
{% endblock %}

{% block body %}
    <!-- you can write anything which you can write in body element -->
    <div class="main">
        <nav class="navbar">
            <div class="icon">
                <div class="logo">Research Companion</div>
            </div> 
            <div class="menu">
                <ul>
                    <li><a href="#" class="login-btn" >Login</a></li>
                    <li><a href="#"class="register-btn">Register Now</a></li>
                </ul>
            </div>   
        </nav>
        <div class="container-box">
            <div class="text-box">
                <h1>Centralize, Collaborate, Innovate: Your STEM Research Hub</h1>
                <p>One platform. Endless possibilities. Power your STEM research with seamless collaboration!</p>
                <a href="#" class="hero-btn">Visit us to know more</a>
            </div>
            <img src="{% static 'pics/STEM photo.gif' %}" alt="gif" class="STEM-pic">
        </div>
        <br>
        <br>
    </div>

    <div class="empty"></div>

    <section class="aboutpage">
        <div class="about-textbox">
            <p class="choose-title">Why Choose Us</p>
            <p class="about-text">STEM Research Hub centralizes your projects by organizing notes, documents and multimedia files in one place. Collaborate effortlessly with your team, share ideas in real-time and access your resources with fast and powerful search tools. Unlock the potential of your reserach and innovate by sharing your work with the community or specific groups.</p>
        </div>
        <div class="cards-container">
            <div class="card1" id="card">
                <i></i>
                <h3 class="card-title1" id="card-title">Organize Materials</h3>
                <p class="card-text1" id="card-text">Keep all your research papers, notes, images and videos in one easy-to-access place.</p>
            </div>
            <div class="card2" id="card">
                <i></i>
                <h3 class="card-title2" id="card-title">Collaborate Easily</h3>
                <p class="card-text2" id="card-text">Work together with your team by sharing ideas, files and comments in real-time.</p>
            </div>
            <div class="card3" id="card">
                <i></i>
                <h3 class="card-title3" id="card-title">Powerful Search</h3>
                <p class="card-text3" id="card-text">Find exactly what you need with powerful keyword and tag-based search tools.</p>
            </div>
            <div class="card4" id="card">
                <i></i>
                <h3 class="card-title4" id="card-title">Share Projects</h3>
                <p class="card-text4" id="card-text">Share your projects publicly or with selected groups to foster collaboration and innovation.</p>
            </div>
        </div>
    </section>
    <footer class="footer" id="footer">
        
    </footer>


    <script src="{% static 'js/infopage.js' %}"></script>
{% endblock %}
