.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100vw - 40px);
    height: max-content;
    background-color: #D9D9D9;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.432);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    z-index: 5;
}

.navbar-title {
    position: relative;
    top: 0;
    left: 0;
    width: 30%;
    height: max-content;
    padding-left: 20px;
    padding-right: 20px;
    z-index: 1001;
    display: inline-block;
}

.navbar-links {
    position: relative;
    top: 0;
    left: 0;
    width: calc(100% - 50% + 20px);
    height: max-content;
    padding-left: 20px;
    padding-right: 20px;
    display: inline-block;
}

.navbar-link {
    position: relative;
    top: 0;
    left: 0;
    width: max-content;
    height: max-content;
    padding: 0;
    margin: 0;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    text-decoration: none;
    color: black;
}

.navbar-profile {
    position: relative;
    top: 0;
    left: 0;
    width: 30px;
    height: max-content;
    padding-left: 20px;
    padding-right: 20px;
    display: inline-block;
}

.navbar-profile-icon {
    position: relative;
    top: 5px;
    left: 0;
    width: 30px;
    height: 30px;
    color: rgb(65, 65, 65);
}

.burger-menu {
    position: relative;
    top: 0;
    left: 0;
    width: 30px;
    height: max-content;
    display: none;
    z-index: 1001;
}

.burger-span {
    position: relative;
    top: 10px;
    left: 0;
    width: 40px;
    height: 8px;
    background-color: black;
    display: block;
    margin: 0;
    padding: 0;
    margin-bottom: 2.5px;
}

.burger-nav {
    position: fixed;
    left: -100%;
    top: 0;
    z-index: 100;
    background-color: #D9D9D9;
    width: 100vw;
    height: 100vh;
    overflow: none;
    display: none;
}

.burger-nav-items {
    position: relative;
    top: 100px;
    left: 0;
    width: 100%;
    overflow: auto;
    height: 90%;
}

.burger-nav-item {
    position: relative;
    top: 0;
    left: 0;
    width: 80%;
    height: max-content;
    margin-left: 10%;
    text-align: center;
}

.burgerbar-profile-icon {
    position: relative;
    top: 5px;
    left: 0;
    width: 30px;
    height: 30px;
}

.burger-nav-profile {
    position: relative;
    margin-top: 10%;
    margin-bottom: 10%;
}

.functions_div {
    position: relative;
    top: 0;
    left: 0;
    width: 90%;
    margin-top: 150px;
    margin-left: 5%;
    margin-right: 5%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 30px;
    padding: 20px;
    box-sizing: border-box;
    justify-content: center;
}

.function-card {
    background: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
    padding: 10px;
    font-size: 14px;
    height: 80px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.386);
    width: auto;
    cursor: pointer;
}

.function-card-icon {
    position: relative;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
}

.function-card-text {
    position: relative;
    top: 0;
    left: 0;
    width: 90%;
    height: max-content;
    margin: 0;
    padding: 0;
    margin-left: 5%;
    margin-right: 5%;
}

.my-projects {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: max-content;
}

.mp-title {
    position: relative;
    top: 0;
    left: 0;
    width: 75%;
    height: max-content;
    margin-left: 5%;    
}

.mp-see-more {
    position: absolute;
    top: 0;
    right: 0px;
    width: max-content;
    color: #3E9ACD;
    margin-right: 5%;
}

.mp-line {
    position: relative;
    top: 0;
    left: 0;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    border: 2px solid black;
}

.cards-section {
    position: relative;
    top: 0;
    left: 0;
    width: 1150px;
    margin-left: calc((100% - 1150px) / 2);
}

.mp-card {
    position: relative;
    top: 0;
    left: 0;
    width: 350px;
    height: 320px;
    display: inline-block;
    background-color: aliceblue;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 20px;
    border-radius: 10px;
}

.mp-card-image {
    position: absolute;
    top: 0px;
    left: 0;
    width: 80%;
    height: 150px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10px;
}

.mp-card-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 10px;
    margin-top: 170px;
    margin-left: 10%;
    margin-right: 10%;    
}

.mp-card-author {
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 10px;
    margin-top: 200px;
    margin-left: 10%;
    margin-right: 10%;  
    color: gray;  
}

.mp-card-description {
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 50px;
    margin-top: 220px;
    margin-left: 10%;
    margin-right: 10%;  
    color: rgb(71, 71, 71);  
    text-overflow: ellipsis;
    overflow: hidden;
}

.mp-button {
    position: absolute;
    bottom: 5px;
    right: 20px;
    width: max-content;
    height: max-content;
    padding: 0;
    margin: 0;
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    border-radius: 10px;
    background-color: black;
    color: white;
}


@media screen and (max-width: 1040px) {
    .navbar-title {
        width: 35%;
    }
    
    .navbar-links {
        width: calc(100% - 60% + 20px);
    }
}

@media screen and (max-width: 880px) {
    .navbar-title {
        font-size: 20px;
    }
    
    .navbar-links {
        width: calc(100% - 65% + 20px);
    }

    .navbar-link {
        font-size: 15px;
    }

    .functions_div {
        margin-top: 120px;
    }
}

@media screen and (max-width: 720px) {
    .navbar-links {
        display: none;
    }

    .navbar-title {
        width: calc(100% - 120px);
    }

    .navbar-profile {
        display: none;
    }

    .burger-menu {
        display: inline-block;
    }

    .burger-nav {
        display: block;
    }
}

@media screen and (max-width: 400px) {
    .navbar-title {
        width: 60%;
        font-size: 18px;
    }

    .burger-menu {
        top: -10px;
    }

    .functions_div {
        margin-top: 135px;
    }
}

@media screen and (max-width: 326px) {
    .navbar-title {
        width: 60%;
        font-size: 16px;
    }

    .burger-menu {
        top: -10px;
        padding-right: 0;
    }
}

@keyframes span1_open {
    0% {}

    100% {
        top: 20px;
        rotate: 45deg;
    }
}

@keyframes span2_open {
    0% {}

    100% {
        opacity: 0;
    }
}

@keyframes span3_open {
    0% {}

    100% {
        top: 0px;
        rotate: -45deg;
    }
}

@keyframes span1_close {
    0% {
        top: 20px;
        rotate: 45deg;
    }

    100% {
        top: 10px;
        rotate: 0deg;
    }
}

@keyframes span2_close {
    0% {
        opacity: 0;
        top: 10px;
    }

    100% {
        opacity: 1;
        top: 10px;
    }
}

@keyframes span3_close {
    0% {
        top: 0px;
        rotate: -45deg;
    }

    100% {
        top: 10px;
        rotate: 0deg;
    }
}

@keyframes burger_nav_open {
    0% {
        left: -100%;
    }

    100% {
        left: 0px;
    }
}
@keyframes burger_nav_close {
    0% {
        left: 0px;
    }

    100% {
        left: -100%;
    }
}