*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Itim', sans-serif;
}
html, body{
    overflow-x: hidden;
}
.main{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(61, 59, 59, 0.379), rgba(0, 0, 0, 0.731)), url('/static/pics/background.avif');
    background-size: cover;
    background-position: center;
}

.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: auto;
    cursor: pointer;
    font-size: 2em;
    text-decoration: none;
    color: white;
    font-family: 'Itim', sans-serif;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
    font-size: 1.5em;
}

.navbar ul li a{
    text-decoration: none;
    color: #fff;
}

.navbar ul li:first-child::after{
    content:'';
    height: 3px;
    width: 0;
    background: #ffffff;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.navbar ul li:hover::after{
    width: 100%;
}
.register-btn{
    background-color: rgb(42, 48, 225);
    padding: 10px;
    border-radius: 40px 0 40px 0;
}
.register-btn:hover{
    background-color: rgb(82, 82, 242);
}

.text-box{
    margin-left: 5vw;
    width: auto;
}
.text-box h1{
    font-size: 3em;
    font-family: 'Itim', sans-serif;
    color: white;
    font-weight: bold;
    margin-top: 10vh;
}
.text-box p{
    font-size: 2em;
    font-family: 'Itim', sans-serif;
    color: white;
    margin-top: 5vh;
    width: 80%;
}

.hero-btn{
    margin-top: 10vh;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 1em;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid #10ecb8;
    background: #10ecb8;
    transition: 1s;
}

.container-box{
    display: flex;
    flex-direction: row;
}
.STEM-pic{
    width: 40%;
    height: 40%;
}
.empty{
    background-color: rgb(255, 235, 191);
    height: 30vh;
    width: 100%;
}
.about-title{
    font-size: 3em;
    font-family: 'Itim', sans-serif;
    color: black;
    margin-left: 3vw;
}
.about-textbox{
    align-items: center;
    margin: 0;
    justify-content: center;
}
.choose-title{
    font-size: 2em;
    font-family: 'Itim', sans-serif;
    color: black;
    text-align: center;
}
.about-text{
    font-size: 1em;
    color: black;
    font-family: 'Itim', sans-serif;
    text-align: center;
    align-items: center;
    width: 80%;
}
.cards-container{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
}
#card{
    border: 1px solid black;
    width: 20vw;
    height: 30vh;
}




@media (max-width: 730px){
    .navbar{
        width: 95%;
    }
    .text-box p{
        width: 100%;
    }
    
    .container-box{
        flex-direction: column;
    }
    .STEM-pic{
        display: none;
    }
}

@media (max-width: 500px){
    .STEM-pic{
        display: flex;
        width: 80%;
        margin-left: 10%;
    }
}