*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Itim', sans-serif;
}
html, body{
    overflow-x: hidden;
}
.main{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(61, 59, 59, 0.379), rgba(0, 0, 0, 0.731)), url('/static/pics/background.avif');
    background-size: cover;
    background-position: center;
}

.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: auto;
    cursor: pointer;
    font-size: 2em;
    text-decoration: none;
    color: white;
    font-family: 'Itim', sans-serif;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
    font-size: 1.5em;
}

.navbar ul li a{
    text-decoration: none;
    color: #fff;
}

.navbar ul li:first-child::after{
    content:'';
    height: 3px;
    width: 0;
    background: #ffffff;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.navbar ul li:hover::after{
    width: 100%;
}
.register-btn{
    background-color: rgb(42, 48, 225);
    padding: 10px;
    border-radius: 40px 0 40px 0;
}
.register-btn:hover{
    background-color: rgb(82, 82, 242);
}
.login-icon{
    display: none;
}

.text-box{
    margin-left: 5vw;
    margin-right: 0%;
    width: 70%;
}
.text-box h1{
    font-size: 3em;
    font-family: 'Itim', sans-serif;
    color: white;
    font-weight: bold;
    margin-top: 10vh;
    width: 90%;
}
.text-box p{
    font-size: 2em;
    font-family: 'Itim', sans-serif;
    color: white;
    margin-top: 5vh;
    width: 80%;
}

.hero-btn{
    margin-top: 10vh;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 1em;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid #10ecb8;
    background: #10ecb8;
    transition: 1s;
}

.container-box{
    display: flex;
    flex-direction: row;
}
.STEM-pic{
    width: 40%;
    height: 40%;
}
.empty{
    background-color: rgb(88, 71, 124);
    height: 30vh;
    width: 100%;
}
.aboutpage{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(61, 59, 59, 0.379), rgba(0, 0, 0, 0.731)), url('/static/pics/about-bg.jpg');
    background-size: cover;
    background-position: center;
}

.about-textbox{
    align-items: center;
    margin: 0;
    justify-content: center;
}
.choose-title{
    padding-top: 40px;
    font-size: 3em;
    font-family: 'Itim', sans-serif;
    color: white;
    text-align: center;
    padding-bottom: 7vh;
}
.about-text{
    font-size: 1.5em;
    margin: 0 auto;
    color: white;
    font-family: 'Itim', sans-serif;
    text-align: center;
    align-items: center;
    width: 80%;
    font-weight: 100;
}
.cards-container{
    margin-top: 17vh;
    margin-bottom: 10vh;
    margin-left: 5vw;
    margin-right: 5vw;
    display: flex;
    gap: 60px;
    flex-wrap: wrap;
    justify-content: space-between;
}
#card{
    border: 1px solid whitesmoke;
    height: auto;
    flex: 1 1 calc(25% - 60px);
    border-radius: 15px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
    word-wrap: break-word;
    padding-bottom: 10px;
}
#card-title{
    font-size: 1.5em;
    color: white;
    text-align: center;
    margin-top: 0px;
}
#card-text{
    font-size: 1em;
    color: white;
    text-align: center;
    width: 70%;
    margin: 0 auto;
}
.icon{
    width: 25%;
    height: auto;
    display: block;
    margin: 0 auto;
    max-width: 30%;
}


@media (max-width: 450px){
    .login-btn{
        display: none;
    }
    
    .navbar ul li{
        margin: 0;
    }
    .navbar{
        width: 100%;
    }
    
    .login-icon{
        display: flex;
        width: 20vw;
    }
    #card{
        flex: 1 1 calc(100% - 20px);
    }
}

@media (max-width: 730px){
    .navbar{
        width: 95%;
    }
    .text-box p{
        width: 100%;
    }
    
    .container-box{
        flex-direction: column;
    }
    .STEM-pic{
        display: none;
    }
}

@media (max-width: 500px){
    .STEM-pic{
        display: flex;
        width: 80%;
        margin-left: 10%;
    }
}