.big-font {
    font-family: "Itim";
    font-size: 25px;
}

.bigger-font {
    font-family: "Itim";
    font-size: 27px;
}

.huge-font {
    font-family: "Itim";
    font-size: 30px;
}

.normal-font {
    font-family: "Itim";
    font-size: 20px;
}

.small-font {
    font-family: "Itim";
    font-size: 18px;
}

.smaller-font {
    font-family: "Itim";
    font-size: 15px;
}