.main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding: 20px;
    min-width: 100vw;
    min-height: 100vh;
    background-image: url("../pics/register-bg.webp");
    background-position: center;
    background-size: cover;
}
.card{
    width: 90vw;
    height: 90vh;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 0 auto;
    padding: 0;
}
.welcome-box{
    margin-left: 2em;
    width: fit-content;
    
}
.logo p{
    margin-left: 1em;
}
.wlcm-title{
    margin-top: 17vh;
    margin-left: 2em;
    font-family: 'Lemon', sans-serif;
    font-size: 2.5em;
}
.wlcm-text{
    width: 70%;
    font-size: 1.5em;
    text-align: center;
    margin-top: 5vh;
}
.already-account-text{
    margin-top: 30vh;
    font-size: 0.8em;
    text-align: center;

}
.login-btn{
    text-align: center;
    border: black;
    border-radius: 30px;
    padding: 10px;
    font-size: 1em;
    font-family: 'Lemon', sans-serif;
    margin-left: 50%;
    
}



