*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lemon', sans-serif;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding: 20px;
    background-image: url("../pics/register-bg.webp");
    background-position: center;
    background-size: cover;
}
.card{
    display: flex;
    width: 90%;
    height: 95%;
    padding: 2em;
    background-color: white;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    align-items: center;
    flex-direction: row;
    margin: 0 auto;
    overflow-x: hidden;
    overflow-y: hidden;
}
.welcome-box{
    height: 100%;
    width: fit-content;
    text-align: center;
}
.logo p{
    margin-left: 2em;
    text-align: left;
}
.wlcm-title{
    margin-top: 20vh;
    font-size: 2.5em;
    padding-bottom: 1em;
}
.wlcm-text{
    width: 70%;
    margin: 0 auto;
    font-size: 1em;
    margin-bottom: 35%;
}

.already-account-text{
    font-size: 0.7em;
}
.login-btn{
    border-radius: 30px;
    padding: 10px;
    font-size: 1em;
    margin-top: 10px;
}

.register-box{
    height: 100%;
    width: fit-content;
    text-align: center;
    margin-top: 30vh;
}
.title{
    font-size: 2.5em;
    margin-bottom: 15px;
}
.google-btn{
    border-radius: 30px;
    padding: 10px;
    
}


