.body {
    background-color: #FCFAEE;
}

.big-font {
    font-size: 25px;
    font-weight: bold;
}

.normal-font {
    font-size: 20px;
    font-weight: bold;
}

.small-font {
    font-size: 15px;
    font-weight: bold;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    background-color: #F1F1F1;
    z-index: 1000;
    overflow-y: auto;
    overflow-x: hidden;
}

.working_area {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 250px);
    height: 100%;
    margin-left: 250px;
    z-index: 900;
}

.navbar-img {
    position: relative;
    top: 0;
    left: 0;
    width: 120px;
    height: 120px;
    margin: 0;
    padding: 0;
    margin-top: 30px;
    margin-left: calc((250px - 120px) / 2);
    border-radius: 100%;
    border: none;
    outline: none;
    background-color: azure;
    display: flex;
}

.navbar-info {
    position: relative;
    top: 0;
    left: 0;
    width: 200px;
    height: 50px;
    margin: 0;
    padding: 0;
    margin-top: 15px;
    display: flexbox;
    margin-left: calc((250px - 200px) /2);
}

.navbar-info-text {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: max-content;
    margin: 0;
    padding: 0;
    margin-bottom: 2.5px;
    font-family: "Itim";
    text-align: center;
}

.navbar-navmenu {
    position: relative;
    top: 0;
    left: 0;
    width: 200px;
    height: max-content;
    margin: 0;
    padding: 0;
    margin-top: 15px;
    display: flexbox;
    margin-left: calc((250px - 200px) / 2);
}

.navbar-category {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: max-content;
    padding: 0;
    margin: 0;
    font-family: "Itim";
}

.navbar-icon {
    position: relative;
    top: 1px;
    left: 0;
    width: 23px;
    height: 23px;
    color: black;
    margin-right: 10px;
    display: inline-block;
}

.navbar-nav {
    position: relative;
    top: -4px;
    left: 0;
    width: 60%;
    height: max-content;
    display: inline-block;
    font-family: "Itim";
    margin: 0;
    padding: 0;
}

.navbar-navs:hover {
    animation: navbar-nav-animation 0.4s ease;
    color: #DA8359;
}

.navbar-line {
    position: relative;
    top: -4px;
    left: 0;
    width: max-content;
    height: max-content;
    font-size: 20px;
    font-family: "Itim";
    font-weight: bold;
    color: #FED9C7;
    display: inline-block;
    margin: 0;
    padding: 0;
}

.navbar-navs {
    position: relative;
    top: 0;
    left: 5px;
}

.burgermenu {
    display: none;
    width: 70px;
    height: max-content;
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
    z-index: 2000;
}

.span {
    position: relative;
    top: 0;
    left: 0;
    width: 70px;
    height: 15px;
    margin: 0;
    padding: 0;
    margin-bottom: 5px;
    background-color: black;
    display: block;
}

.notify_div {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: max-content;
    height: max-content;
    background-color: #ECDFCC;
    z-index: 1000000000000000;
    padding-top: 20px;
    padding-bottom: 30px;
    padding-right: 50px;
    padding-left: 20px;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.432);
    border-radius: 20px;
    margin-top: 15px;
    display: none;
}

.notify_text {
    position: relative;
    top: 0;
    left: 0;
    max-width: 50vw;
    height: max-content;
    word-break: break-all;
    font-size: 25px;
    font-family: "Itim";
    font-weight: bold;
    display: inline-block;
}

.notify_icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    max-width: 50vw;
    height: max-content;
    word-break: break-all;
    font-size: 25px;
    font-family: "Itim";
    font-weight: bold;
    width: 25px;
    height: 25px;
    margin-left: 20px;
    margin-right: 10px;
    color: #DA8359;
    display: flexbox;
    justify-self: center;
    cursor: pointer;
}



















/* media */

@media screen and (max-width: 720px) {
    .normal-font {
        font-size: 25px;
    }

    .small-font {
        font-size: 20px;
    }

    .navbar-main-part {
        display: none;
    }

    .navbar {
        width: 100px;
    }

    .working_area {
        width: calc(100% - 100px);
        margin-left: 100px;
    }

    .burgermenu {
        display: block;
    }

    .navbar-img {
        width: 180px;
        height: 180px;
        margin-top: 10px;
    }

    .navbar-info {
        width: 350px;
    }

    .navbar-info-text {
        width: 350px;
    }

    .navbar-icon {
        width: 30px;
        height: 30px;
    }

    .navbar-line {
        font-size: 30px;
    }

    .navbar-category {
        font-size: 25px;
    }

    .navbar-img {
        margin-left: calc((100% - 180px) / 2);
    }

    .navbar-navmenu {
        margin-left: calc((100% - 200px) / 2);
    }

    .navbar-info {
        margin-left: calc((100% - 350px) / 2);
    }
}





/* animations */

@keyframes span1_open {
    0% {
        top: 0;
        rotate: 0;
    }

    100% {
        top: 20px;
        rotate: 45deg;
    }
}

@keyframes span2_open {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes span3_open {
    0% {
        top: 0;
        rotate: 0;
    }

    100% {
        top: -20px;
        rotate: -45deg;
    }
}

@keyframes span1_close {
    0% {
        top: 20px;
        rotate: 45px;
    }

    100% {
        top: 0px;
        rotate: 0deg;
    }
}

@keyframes span2_close {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes span3_close {
    0% {
        top: -20px;
        rotate: -45deg;
    }

    100% {
        top: 0px;
        rotate: 0deg;
    }
}

@keyframes navbar_open {
    0% {
        width: 100px;
    }

    100% {
        width: 100%;
    }
}

@keyframes navbar_close {
    0% {
        width: 100%;
    }

    100% {
        width: 100px;
    }
}

@keyframes navbar2_open {
    0% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

@keyframes navbar2_close {
    0% {
        opacity: 1;
        display: block;
    }

    100% {
        opacity: 0;
        display: block;
    }
}

@keyframes navbar-nav-animation {
    0% {
        color: black;
    }

    70% {
        color: #DA8359;
    }
}

@keyframes notify_div_animation_open {
    0% {
        top: -150%;
    }

    100% {
        top: 0px;
    }
}

@keyframes notify_div_animation_close {
    0% {
        top: 0;
    }

    100% {
        top: -150%;
    }
}

#mindmap {
    width: 90%;
    height: 400px;
    border: 1px solid #ccc;
    background-color: white;
    overflow: hidden; 
    position: relative;
    padding: 0;
    margin: 0;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 20px;
}

.mm-div {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: max-content;
}

.mm-loads {
    position: relative;
    top: 0;
    left: 0;
    width: calc(90% - 20px);
    height: max-content;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 20px;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.432);
    background-color: white;
    border-radius: 3px;
}

.mm-title {
    position: relative;
    top: 0;
    left: 0;
    width: 95%;
    height: max-content;
    margin: 0;
    padding: 0;
    color: black;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.mm-line {
    position: relative;
    top: 0;
    left: 0;
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    border: 1.5px solid black;
}

.mm-saved-list {
    position: relative;
    top: 0;
    left: 0;
    width: 95%;
    height: 40px;
    margin: 0;
    padding: 0;
    margin-left: 2.5%;
    margin-right: 2.5%;
    display: grid;
    grid-template-columns: 60% 40%;
    margin-bottom: 5px;
}

.mm-sl-title {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 60%;
    height: 40px;
    color: black;
    padding: 0;
    margin: 0;
    overflow-y: hidden;
    overflow-x: auto;
    white-space: nowrap;
}

.mm-sl-buttons {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 60%;
    width: 40%;
    height: 80%;
}

.mm-sl-button-2 {
    position: absolute;
    top: 0;
    right: 0px;
    width: 60px;
    height: 100%;
    padding-top: 2px;
    padding-bottom: 2px;
    border: none;
    color: white;
    background-color: black;
    border-radius: 5px;
    cursor: pointer;
}

.mm-sl-button-3 {
    position: absolute;
    top: 0;
    right: 70px;
    width: 80px;
    height: 100%;
    padding-top: 2px;
    padding-bottom: 2px;
    border: none;
    color: white;
    background-color: red;
    border-radius: 5px;
    cursor: pointer;
}

.mindmap-control-buttons {
    position: relative;
    top: 0;
    left: 0;
    width: 90%;
    height: 40px;
    margin-top: 10px;
    margin-left: 5%;
    margin-right: 5%;
}

#mindmapName {
    position: relative;
    top: 0;
    left: 0;
    width: 350px;
    height: max-content;
    padding: 0;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: white;
    color: black;
    border: 0;
    border-radius: 2px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.432);
}

.mm-add-child {
    position: absolute;
    top: 5px;
    right: 80px;
    width: 110px;
    height: max-content;
    color: white;
    background-color: black;
    padding: 0;
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.432);
    cursor: pointer;
}

.mm-save-child {
    position: absolute;
    top: 5px;
    right: 0px;
    width: 70px;
    height: max-content;
    color: white;
    background-color: #A5B68D;
    padding: 0;
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.432);
    cursor: pointer;
}

.mm-cancel-child {
    position: absolute;
    top: 5px;
    right: 200px;
    width: 150px;
    height: max-content;
    color: white;
    background-color: rgb(151, 135, 255);
    padding: 0;
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.432);
    cursor: pointer;
}

.mm-delete-child {
    position: absolute;
    top: 5px;
    right: 360px;
    width: 80px;
    height: max-content;
    color: white;
    background-color: red;
    padding: 0;
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.432);
    cursor: pointer;
}

.mm-title-gen {
    position: relative;
    top: 0;
    left: 0;
    width: 90%;
    height: max-content;
    margin-left: 5%;
    margin-right: 5%;
    color: black;
    padding: 0;
}

.mm-lock {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    display: none;
    background-color: rgba(128, 128, 128, 0.806);
}

.mm-lock-text {
    position: absolute;
    top: 20%;
    transform: translateY(-20%);
    left: 0;
    width: 100%;
    height: max-content;
    color: white;
    text-shadow: 0px 4px 15px rgba(226, 226, 226, 0.806);
    text-align: center;
}

.charts-div {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: max-content;
}

.charts-title {
    position: relative;
    top: 0;
    left: 0;
    width: 90%;
    height: max-content;
    margin-left: 5%;
    margin-right: 5%;
}



@media screen and (max-width: 1200px) {
    #mindmapName {
        width: calc(100% - 30px);
    }

    .mindmap-control-buttons {
        padding-bottom: 60px;
    }

    .mm-save-child {
        top: calc(100% - 40px);
    }

    .mm-delete-child {
        top: calc(100% - 40px);
    }

    .mm-cancel-child {
        top: calc(100% - 40px);
    }

    .mm-add-child {
        top: calc(100% - 40px);
    }
}

@media screen and (max-width: 740px) {
    .mindmap-control-buttons {
        padding-bottom: 120px;
    }

    .mm-save-child {
        top: calc(100% - 100px);
        width: 40%;
        margin-left: 5%;
    }

    .mm-delete-child {
        top: calc(100% - 100px);      
        left: 0;  
        width: 40%;
        margin-right: 5%;
    }

    .mm-cancel-child {
        top: calc(100% - 50px);      
        left: 0;  
        width: 40%;
        margin-right: 5%;
    }

    .mm-add-child {
        top: calc(100% - 50px);      
        right: 0;  
        width: 40%;
        margin-left: 5%;
    }
}

@media screen and (max-width: 600px) {
    .mm-save-child {
        width: 48%;
        margin-left: 1%;
    }

    .mm-delete-child {
        width: 48%;
        margin-right:15%;
    }

    .mm-cancel-child {
        width: 48%;
        margin-right:15%;
    }

    .mm-add-child {
        width: 48%;
        margin-left: 1%;
    }

    .mm-saved-list {
        grid-template-rows: max-content 10px max-content;
    }

    .mm-sl-title {
        position: relative;
        top: 0%;
        transform: translateY(0);
        width: 100%;
        height: max-content;
        grid-column-start: 1;
        grid-column-end: 3;
        display: inline-grid;
    }

    .mm-saved-list {
        height: 100px;
    }

    .mm-sl-buttons {
        grid-row: 2;
        grid-column-start: 1;
        grid-column-end: 3;
        left: 0;
        width: 100%;
        display: inline-grid;
    }

    .mm-sl-button-2 {
        width: 49%;
        margin-right: 1%;
        left: 0px;
    }

    .mm-sl-button-3 {
        width: 49%;
        margin-left: 1%;
        right: 0px;
    }
}

@media screen and (max-width: 505px) {
    #mindmapName {
        font-size: 20px;
    }

    .mm-save-child {
        font-size: 15px;
        padding-top: 12px;
        padding-bottom: 12px;
    }

    .mm-delete-child {
        font-size: 15px;
        padding-top: 12px;
        padding-bottom: 12px;
    }

    .mm-cancel-child {
        font-size: 15px;
        padding-top: 12px;
        padding-bottom: 12px;
    }

    .mm-add-child {
        font-size: 15px;
        padding-top: 12px;
        padding-bottom: 12px;
    }
}

@media screen and (max-width: 370px) {
    #mindmapName {
        font-size: 17px;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .mindmap-control-buttons {
        padding-bottom: 240px;
    }

    .mm-save-child {
        top: 65px;
        width: 100%;
        left: 0;
        font-size: 18px;
        padding-top: 12px;
        padding-bottom: 12px;
        margin-left: 0%;
    }

    .mm-add-child {
        top: 120px;
        width: 100%;
        left: 0;
        font-size: 18px;
        padding-top: 12px;
        padding-bottom: 12px;
        margin-left: 0%;
    }

    .mm-cancel-child {
        top: 175px;
        width: 100%;
        left: 0;
        font-size: 18px;
        padding-top: 12px;
        padding-bottom: 12px;
        margin-left: 0%;
    }

    .mm-delete-child {
        top: 230px;
        width: 100%;
        left: 0;
        font-size: 18px;
        padding-top: 12px;
        padding-bottom: 12px;
        margin-left: 0%;
    }

    .mm-saved-list {
        height: 180px;
        position: relative;
    }

    .mm-sl-button-2 {
        height: 60px;
        width: 100%;
        margin-left: 0%;
    }

    .mm-sl-button-3 {
        top: 70px;
        height: 60px;
        width: 100%;
        margin-right: 0%;
    }
}

@keyframes fade_in {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

@keyframes fade_out {
    0% {
        opacity: 100%;
    }

    100% {
        opacity: 0%;
    }
}